{%extends 'todo/main.html'%}

{%block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <div class="container">

    <h1>Tasks</h1>
        <a class="btn btn-primary" href=" {% url 'create' %}">Add new tasks</a>
        <table class = "table table-hover">
            <tr>
                <th scope="col">Items</th>
            </tr>
            {% for task in object_list %}
            <tr>
                <td>
                    {{task.title}}</td>
                   <td> <a class = "btn btn-primary" href="{% url 'detail' task.id %}">view</a>
                    <a class = "btn btn-primary" href="{% url 'edit' task.id%}">edit</a>
                    <a class = "btn btn-primary"href="{% url 'delete' task.id%}">Delete</a>

                </td>
            </tr>
            {%empty%}
            {% endfor %}

        </table>
        
        </div>

    
</body>
</html>
{% endblock content %}